
.top-bar {
    background: linear-gradient(90deg, #f7f7f7 0%, #9fc5df 62%, #82add0 100% );
    display: flex;
    padding-left: 100px; padding-right: 100px;
    justify-content: space-between;
    height: 116px;
}
.top-bar:hover {
    background: linear-gradient(90deg, #99a8ff 0%, #ddd5ff 62%, #ffffff 100% );
}
.logo-box {
    align-self: center;
}
.logo-box img {
    width: 220px;
}
.menu01>ul {
    display: flex; gap: 50px;
    height: 100%; align-items: center;
}
.m01-item:hover a {
    text-decoration: underline;
}
.m01-item a {
    font-size: 15px; font-weight: 500;
    color: #333;
}
.user-box {
    align-self: center;
}
.user-box>ul {
    display: flex; align-items: center;
    gap: 16px;
}
.user-item01 a {
    font-size: 27px;
    font-weight: 700;
}
/* 버튼 */
.user-item02 {
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 50px;
}
.user-item02:hover {
    background-color: bisque;
    border: 1px solid sandybrown;
    color: sandybrown;
    transition: 0.3s;
}
.user-item02 a {
    font-size: 15px;
}
.user-item03>a {
    display: flex; align-items: center;
    font-size: 15px;
}